html {
  font-family: "Merriweather", serif;
}

main {
  background-color: #fff;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
}

tbody td {
  height: 9.5em;
}

.event-red {
  color: #b92828;
  background-color: #f2bcbc;
  border: 1px solid #991919;
  border-radius: 8px;
}

.event-white {
  color: #333;
  background-color: #f2f2f2;
  border: 1px solid #666;
  border-radius: 8px;
}

.event-blue {
  color: #38448e;
  background-color: #d2d6f0;
  border: 1px solid #1d38da;
  border-radius: 8px;
}

.event-green {
  color: #6b7e54;
  background-color: #d1e0bf;
  border: 1px solid #51603f;
  border-radius: 8px;
}

.day {
  width: 6em;
}

.table-wrapper {
  overflow: visible;
}
